/deep/ .mdl-dialog {
  width: 500px;
}

/deep/ mdl-dialog-host-component {
  padding: 0px;
}

.error-dialog {
  min-width: 500px;
  width: 500px;
}

.mdl-dialog__content {
  max-height: 400px;
  overflow-y: scroll;
}

.mdl-dialog__actions {
  border-top: 1px solid #d9d9d9;
}

/deep/ mdl-switch.mdl-switch.debug-instructions {
  display: inline;
  top: -5px;
}

.mdl-button[disabled][disabled].help-button {
  background-color: rgba(158,158,158, 0.20);
}

pre {
  width: 100%;
  overflow: auto;
}

.mdl-dialog__title {

  font-size: 1.5rem;

  .mdl-button--fab.mdl-button--mini-fab {
    height: 30px;
    min-width: 30px;
    width: 30px;
  }

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 12px 24px 12px;

  background-color: #222;

  color: white;
}

.instructions {
  margin: 0px 20px;
}

.show-on-startup {
  // float: left;
  height: auto;
  span {
    color: rgba(0,0,0, 0.54);
  }
}

.scroll {
  position: fixed;
  right: 10px;
  bottom: 135px;
  text-align: center;
}
