<template ngFor let-files [ngForOf]="fileSets">
  <ul class="filetree" *ngIf="isRoot && files">
    <li root>
      <div class="entry" (click)="entryClicked(files)" [title]="files.uri">
        <i class="fa" [ngClass]="getEntryIcon(files)"></i>
        <p>{{files.name}}</p>
      </div>
        <app-file-browser
          *ngIf="files && files.children"
          [fileSets]="[files]"
          [isRoot]="false"
          [selectedUri]="selectedUri"
          [currentChild]="currentChild"
          (fileShown)="entryClicked($event)"></app-file-browser>
    </li>
  </ul>
  <ul class="filetree" *ngIf="!isRoot && files && files.children && !files.collapsed">
    <li *ngFor="let child of files.children" [ngClass]="{ 'active': isSelected(child)}">
      <div class="entry" (click)="entryClicked(child)" [title]="child.uri">
        <i class="fa" [ngClass]="getEntryIcon(child)"></i>
        <p>{{child.name}}</p>
      </div>
      <app-file-browser
        *ngIf="child && child.children && !child.collapsed"
        [fileSets]="[child]"
        [isRoot]="false"
        [selectedUri]="selectedUri"
        [currentChild]="currentChild"
        (fileShown)="entryClicked($event)"></app-file-browser>
    </li>
  </ul>
</template>
