@import '../../styles/colors';

$bg-color: unquote("rgb(#{$palette-debugger-50})");

:host {
  display: flex;
  flex-direction: column;
}

:not(.filetree) > .filetree {
  margin: 0px 0px 0px 5px;
}

.filetree {
  margin: 5px 0px 0px 5px;
  padding: 0px;
  list-style: none;
  line-height: initial;

  .filetree {
    padding: 0px 10px;
  }

  li {
    cursor: pointer;
    &.active {
      background-color: $bg-color;
    }
  }

  div.entry {
    padding: 0px 2px
  }

  p {
    display: inline-block;
    margin: 0px;
  }
}
