/deep/ body {
  background-color: #f3f3ff;
}

/deep/ .mdl-card__supporting-text {
  width: 100%;
}

h3 {
  text-align: center;
  width: 100%;
}

:host {
  margin-top: 4em;
  display: block;
}

.login-box {
  width: 500px;
  margin: 0pt auto;

  .fa-times {
    color: red;
  }

  .fa-check {
    color: green;
  }

  .error {
    background: rgba(255,0,0,0.5);
    padding: 10px;
    border-radius: 2px;
    color: #333;
    margin-bottom: 20px;
  }
}

.current-server {
  text-transform: none;
}

.mdl-card, .mdl-card__supporting-text {
  overflow: initial;
}

.mdl-card__supporting-text {
  text-align: center;
}

#start-debugging {
  margin-top: 20px;
}
