@import '../../styles/colors';

$hover-color: unquote("rgb(#{$palette-debugger-50})");

/deep/ .CodeMirror {
  height: 100%;

  .current-statement {
    background-color: $hover-color;
  }
}

.fill-height {
  height: 100%;
  position: relative;
}

/deep/ .breakpoints {
  width: 1.5em;

  .section-body {
    padding: 10px;
  }
}

/deep/ .currentlines {
  width: 1.5em;
}

/deep/ .breakpoint-enabled {
  color: #822;
  font-size: 14pt;
  font-weight: bold;
  position: relative;
}

/deep/ .breakpoint-disabled {
  color: #666;
  font-size: 14pt;
  font-weight: bold;
  position: relative;
}

/deep/ .mdl-layout__content {
  height: 100%;
}

.breakpoints {
  ul {
    margin: 0;
    padding: 0px;
    list-style: none;
    cursor: default;

    .breakpoint-symbol {
      cursor: pointer;
      color: #666;

      &.enabled {
        color: #822;
      }
    }

    .fa-times {
      float: right;

      &:hover {
        color: red;
      }
    }

    li {
      padding: 5px;
      &:hover {
        background-color: $hover-color;
      }
    }
  }
}

.attached {
  ul {
    margin: 0;
    padding: 0px;
    list-style: none;

    li {
      &:hover {
        background-color: $hover-color;
      }
      padding: 5px;

      cursor: pointer;

      .request-id {
        font-size: 60%;
      }
    }
  }

  .section-body {
    padding: 10px;
  }
}

[gm-grid] {
  border-top: 1px solid #ccc;
  height: 100%;
  overflow: hidden;
}

[gm-col] {
  overflow-y: auto;
}

.section-title {
  background-color: #f3f3f3;
  color: #333;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.files {
  min-width: 250px;

  .section-body {
    position: absolute;
    top: 41px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
  }

  .debug-status {
    display: inline;
    float: right;

    mdl-switch.mdl-switch.is-upgraded {
      padding-left: 28px;
      display: inline;
      margin-right: 20px;
      top: -5px;
    }
  }

}


[gm-divider].debug-divider {
  display: block;
  height: initial;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #f3f3f3;
  color: rgb(51,51,51);
}

.debug-area {
  min-height: 150px;

  .debugger {
    position: relative;

    .disabled {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background: rgba(255,255,255, 0.90);
      z-index: 10000;

      span {
        display: inline-block;
        width: 100%;
        font-weight: bold;
        margin: auto;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .clickable {
    color: #666;
    width: 20px;
    height: 20px;
    margin: auto;
    display: inline-block;
    border-radius: 2px;
    cursor: default;

    /deep/ mdl-icon {
      font-size: 20px;
    }
    &:hover {
      background-color: rgba(0,0,0,0.05);
      color: black;
    }
  }

  /deep/ mdl-icon {
    font-size: 16px;
  }

  .debugger {
    .section-title {
      padding: 5px;
      line-height: 8px;

      span {
        cursor: default;
        padding: 0px 2px;

      }
    }
  }
}

ul.frames {
  list-style: none;
  padding: 0px 10px;

  li {
    cursor: default;
    &:hover {
      background-color: $hover-color;
    }
  }
}

.mdl-layout__header {
  min-height: 48px;
}

.mdl-layout__header-row {
  height: 48px;
  padding: 0 40px 0 10px;

  .mdl-switch {
    width: initial;
  }

  .selected-server {
    margin-right: 20px;
  }
}

.flex-70 {
  .section-body {
    top: 41px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }

  app-codemirror {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.prompt {
  color: blue;
  margin-left: 5px;
}

.no-request {
  padding: 20px;
  color: #666;
}

.console-input {
  border: none;
  background: transparent;
  width: 60%;

  &:focus {
    outline: 0;
  }

  .prompt {
    color: #333;
  }
}

.console-output {
  color: #666;

  .prompt {
    color: #666;
  }

  .error {
    background-color: rgba(255, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    color: black;
    width: 100%;
    display: inline-block;

    a {
      cursor: pointer;
    }

    pre {
      width: 100%;
      white-space: pre-wrap;
    }
  }
}

.console-buttons {
  position: absolute;
  top: 30px;
  right: 10px;
}
