<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
  <mdl-layout-header>
    <mdl-layout-header-row>
      <mdl-layout-title>
        <span class="server">http://{{hostname}}:{{port}}</span>
        <span class="selected-server" *ngIf="selectedServer">{{selectedServer.name}} </span>
        <span class="debug-toggle">
          <mdl-switch *ngIf="selectedServer" [(ngModel)]="selectedServer.connected" (change)="toggleConnected(selectedServer)" mdl-ripple></mdl-switch>
          <span class="debug-status" *ngIf="selectedServer"> Debugging is <strong>{{selectedServer.connected ? 'ON' : 'OFF'}}</strong></span>
        </span>
        </mdl-layout-title>
      <mdl-layout-spacer></mdl-layout-spacer>
      <button mdl-button #btn2="mdlButton" (click)="m2.toggle($event, btn2)" mdl-button-type="icon" mdl-ripple><mdl-icon>more_vert</mdl-icon></button>
      <mdl-menu #m2="mdlMenu" mdl-menu-position="bottom-right">
        <mdl-menu-item mdl-ripple (click)="logout()">Sign Out</mdl-menu-item>
      </mdl-menu>
    </mdl-layout-header-row>
  </mdl-layout-header>
  <mdl-layout-content>
    <div gm-grid>
      <div gm-row class="flex-80">
        <div gm-col class="flex-30 files">
          <div *ngIf="selectedServer">
            <div class="section-title">{{selectedServer.name}} Files</div>
            <div class="section-body">
              <app-file-browser
                [files]="serverFiles"
                (fileShown)="fileClicked($event)"></app-file-browser>
              <app-file-browser
                [files]="systemFiles"
                (fileShown)="fileClicked($event)"></app-file-browser>
            </div>
          </div>
        </div>
        <gm-divider></gm-divider>
        <div gm-col class="flex-70">
          <div class="fill-height" *ngIf="currentUri">
            <div class="section-title">File View: {{currentUri}}</div>
            <div class="section-body">
              <app-codemirror *ngIf="fileText"
                [ngModel]="fileText"
                [breakpoints]="fileBreakpoints"
                [config]="codeMirrorConfig"
                [line]="currentLine"
                [expression]="currentExpression"></app-codemirror>
            </div>
          </div>
        </div>
      </div>
      <div gm-divider class="debug-divider">
        <span>Debug Area</span>
      </div>
      <div gm-row class="flex-20 debug-area">
        <div gm-col class="flex-30 debugger">
          <div class="disabled" *ngIf="!requestId">
            <span>DEBUG A REQUEST TO ENABLE</span>
          </div>
          <div class="section-title">
            <span><mdl-icon>pause</mdl-icon></span>
            <span class="clickable" (click)="continue()"><mdl-icon>play_arrow</mdl-icon></span>
            <span class="clickable" (click)="stepOver()"><mdl-icon>redo</mdl-icon></span>
            <span class="clickable" (click)="stepIn()"><mdl-icon>vertical_align_bottom</mdl-icon></span>
            <span class="clickable" (click)="stepOut()"><mdl-icon>vertical_align_top</mdl-icon></span>
          </div>
          <div class="section-body">
            <app-subsection [title]="'Stack'">
              <ul *ngIf="stack && stack.frames" class="frames">
                <li *ngFor="let frame of stack.frames" (click)="showFile(frame.uri, frame.line)">{{frame.uri}}:{{frame.line}}</li>
              </ul>
            </app-subsection>
            <app-subsection [title]="'Variables'">
              <ul *ngIf="hasVariables()" class="frames">
                <li *ngFor="let variable of stack.frames[0].variables">{{variable.name}}: {{variable.value}}</li>
              </ul>
              <p *ngIf="!hasVariables()">&nbsp;</p>
            </app-subsection>
            <app-subsection [title]="'Console'">
              <div class="console-buttons">
                <button md-button (click)="clearConsole()">Clear</button>
              </div>
              <div *ngFor="let output of consoleOutput" class="console-output">
                <span *ngIf="output.type === 'e'" class="error">Server Error <a (click)="showError(output.txt)">(show)</a></span>
                <span *ngIf="output.type !== 'e'">
                  <span class="prompt">{{output.type === 'i' ? '>' : '<-' }} </span><span>{{output.txt}}</span>
                </span>
              </div>
              <span class="prompt">&gt; </span><input class="console-input" type="text" [(ngModel)]="consoleInput" (keyup)="consoleKeyPressed($event)">
            </app-subsection>
          </div>
        </div>
        <div gm-divider></div>
        <div gm-col class="flex-35 breakpoints">
          <div class="section-title">BreakPoints</div>
          <div class="section-body">
            <p *ngIf="!breakpointUris || breakpointUris.length === 0">No breakpoints</p>
            <div *ngFor="let uri of breakpointUris">
              <ul>
                <li *ngFor="let breakpoint of breakpoints[uri]">
                  <mdl-checkbox [mdl-ripple]="true" [(ngModel)]="breakpoint.enabled" (change)="disableBreakpoint(breakpoint)">
                    {{breakpoint.uri}}:{{breakpoint.line + 1}}
                  </mdl-checkbox>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div gm-divider></div>
        <div gm-col class="flex-35 attached">
          <div class="section-title">Requests <span class="clickable" (click)="getAttached()"><i class="fa fa-repeat"></i></span></div>
          <div class="section-body">
            <p *ngIf="!attached || attached.length === 0">No Requests stopped</p>
            <ul>
              <li *ngFor="let attachment of attached" (click)="debugRequest(attachment.requestId)">
                <i class="fa fa-long-arrow-right" *ngIf="requestId === attachment.requestId"></i>
                {{attachment.requestRewrittenText || attachment.requestText}} <span class="request-id">({{attachment.requestId}})</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- <section flex layout="row" layout-align="center start" *ngIf="selectedServer">
      <section flex="25" class="md-whiteframe-1dp">
        <section flex class="md-whiteframe-1dp">
          <md-toolbar>
            <h1 class="md-toolbar-tools">{{selectedServer.name}} Files</h1>
          </md-toolbar>
          <section flex layout-padding>
            <app-file-browser
              [files]="serverFiles"
              (fileShown)="fileClicked($event)"></app-file-browser>
          </section>
        </section>
      </section>
      <md-divider md-inset></md-divider>
      <section flex="75">
        <section flex class="md-whiteframe-1dp">
          <md-toolbar>
            <h1 class="md-toolbar-tools">File View</h1>
          </md-toolbar>
          <section flex layout-padding>
            <pre class="cm">{{fileText}}</pre>
          </section>
        </section>
      </section>
    </section> -->
  </mdl-layout-content>
</mdl-layout>

<!-- <md-sidenav-layout>
  <md-sidenav #start>
    <md-toolbar>
      <h1 class="md-toolbar-tools">App Servers</h1>
    </md-toolbar>
    <md-list class="md-dense">
      <md-list-item (click)="showFiles(server)" class="md-2-line" *ngFor="let server of appservers">
        <p>{{server.name}}</p>
        <md-slide-toggle color="accent" [(ngModel)]="server.connected" (change)="toggleConnected(server)"></md-slide-toggle>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <button md-button (click)="start.toggle()">Toggle Start Side Drawer</button>



</md-sidenav-layout>
 -->
